* {
  font-family: sans-serif;
}

.icon-bar {
  position: fixed;
  top: 15%;
  right: 10px;
  margin-top: 30px;
  width: 130px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 215, 215);
  border-radius: 10px;
  padding: 0px;
  background-color: #f1f0f5;
}

.icon-bar i {
  color: black;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
}
.icon-bar .add-elements {
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  border-bottom: 2px solid;
  /* background-color:#f0ffff; */

  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black;
}
.icons {
  display: flex;
  flex-direction: column;
}
.icon-text {
  display: none;
  font-size: 16px;
  font-style: bold;
}

.fa:hover .icon-text {
  display: block;
}

.context-menu {
  text-align: center;
  position: fixed;
  top: 33%;
  right: 145px;
  /* margin-top: 30px; */
  width: max-content;
  /* width: 130px; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 215, 215);
  border-radius: 10px;
  padding: 5px;
  background-color: #f1f0f5;
  font-size: 16px;
  z-index: 100;
}

input[type="color"] , input[type="number"] {
  height: 28px;
  width: 35px;
  cursor: pointer;
  border: none;
  text-align: center;
  align-content: center;
}

label {
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: center;
}

.container{
  width: 80%;
  position: fixed;
}

.component {
  z-index: -1;
}

.rightside {
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 16%;
  right: 0%;
  background: rgb(9,9,121);
  background: linear-gradient(0deg, rgba(9,9,121,1) 40%, rgba(34,193,195,1) 100%);
  /* border-left: solid; */
}
